

@model gymwebproject.Models.gestionmodel

@{
    decimal precioOro = 0;
    decimal precioPlata = 0;
    decimal precioBronce = 0;

    if (Model != null)
    {
        decimal.TryParse(Model.oro, out precioOro);
        decimal.TryParse(Model.plata, out precioPlata);
        decimal.TryParse(Model.bronce, out precioBronce);
    }
}

<nav class="navbar navbar-expand-lg bg-body-tertiary w-100 btn btn-dark">
    <div class="container-fluid d-flex w-100">
        <a class="navbar-brand" role="button" href="#">Navbar</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Suscripción</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuario
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Mi suscripción</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<br />
<br />

<div class="container text-center">
    <div class="row align-items-start">

        <!-- ORO -->
        <div class="col border border-dark">
            <p class="fs-3">Suscripción Oro</p>
            <hr style="height: 3px; background-color: black; border: none; width: 100%;">
            <div><strong>@precioOro.ToString("C0")</strong></div>
            <button type="button" class="btn btn-warning" style="padding: 10px 20px; border: none; border-radius: 5px;">
                Comprar
            </button>
        </div>

        <div class="col-1"></div>

        <!-- PLATA -->
        <div class="col border border-dark">
            <p class="fs-3">Suscripción Plata</p>
            <hr style="height: 3px; background-color: black; border: none; width: 100%;">
            <div><strong>@precioPlata.ToString("C0")</strong></div>
            <button type="button" class="btn btn-secondary" style="padding: 10px 20px; border: none; border-radius: 5px;">
                Comprar
            </button>
        </div>

        <div class="col-1"></div>

        <!-- BRONCE -->
        <div class="col border border-dark">
            <p class="fs-3">Suscripción Bronce</p>
            <hr style="height: 3px; background-color: black; border: none; width: 100%;">
            <div><strong>@precioBronce.ToString("C0")</strong></div>
            <button class="btn" style="background-color: brown; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
                Comprar
            </button>
        </div>

    </div>
</div>
