@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary w-100 btn btn-dark">
        <div class="container-fluid d-flex w-100">


            <a class="navbar-brand navbar-brand" role="button" href="#">Navbar</a>

            <ul class="navbar-nav">
                <li class="nav-item">

                    <form asp-action="suscripciones" asp-controller="Suscripcion" method="post">
                        <button> suscripciones   </button>

                    </form>
                </li>



                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            usuario
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Mi suscripcion</a></li>

                        </ul>

                    </li>
                </ul>

        </div>
    </nav>



    <br />
    <br />

    <div class="container-fluid p-0">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/css/descarga (1).jpg"
                         class="d-block w-100"
                         style="height: auto;"
                         alt="Imagen 1">
                </div>
                <div class="carousel-item">
                    <img src="/css/descarga.jpg"
                         class="d-block w-100"
                         style="height: auto;"
                         alt="Imagen 2">



                </div>
                <div class="carousel-item">
                    <img src="/css/download.jpg"
                         class="d-block w-100"
                         style="height: auto;"
                         alt="Imagen 3">
                </div>
            </div>

            <!-- Botón anterior -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>

            <!-- Botón siguiente -->
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</html>